.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 20px;
}

.left {
  flex: none;
  width: 20vw;
  max-width: 200px;
}

.right {
  flex: 1;
  max-width: 800px;
}
